Hello %NAME%,

This email is a confirmation of your sign-up for OOTC in %YEAR% for the 
following weeks and timeslots:

%RESERVATIONS%

Please mark off these time slots in your calendars if you have not done so  
yet. Weekly reminder emails will be sent a few days in advance for the time  
slots you have signed up for.

Thank you for serving!

TCCC x Gibson - Out of the Cold