Hello %NAME%,

Thanks for signing up for an account with Out of the Cold. Please verify your email address by going to the following link.
%LINK%

Thank you for serving!

TCCC x Gibson - Out of the Cold`