<div class="login-form-container stand-alone-box">
    <h3 class="login-form-title">Volunteer Login</h3>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
        <div class="errors">
            {{ error || '&#160;' }}
        </div>
        <button mat-raised-button color="primary" type="submit">Login</button>
        <button mat-raised-button color="accent" type="button"
            routerLink = "/register">Register</button>
        <div class="forgot-password">
            <a [routerLink]="['/forgotPassword']">Forgot Password</a>
        </div>
    </form>
</div>
