.login-form {
    max-width: 300px;
    
    .login-form-title {
        margin-top: 0;
        margin-bottom: 0.25em;
    }

    .mat-form-field {
        width: 100%;
    }

    button {
        margin: 0.75rem 0;
        width: 100%;
    }
}