<div class="login-form">
    <h2 class="login-form-title">Login</h2>
    <div>
        <form class="" [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <mat-form-field>
                <input matInput type="email" placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Login</button>
            <button mat-raised-button color="accent" type="button"
                routerLink = "/register" mat-raised-button>Register</button>
        </form>
    </div>
</div>
