<div class="login-form-container stand-alone-box">
    <h3 class="login-form-title" i18n="@@volunteerLogin.title">
        Volunteer Login
    </h3>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field>
            <input matInput type="email" formControlName="email"
                placeholder="Email" i18n-placeholder="@@form.email" />
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" formControlName="password"
                placeholder="Password" i18n-placeholder="@@form.password" />
        </mat-form-field>
        <div class="errors">
            {{ error || '&#160;' }}
        </div>
        <button mat-raised-button color="primary" type="submit"
            i18n="@@button.text.login">Login</button>
        <button mat-raised-button color="accent" type="button"
            routerLink = "/register"
            i18n="@@button.text.register">Register</button>
        <div class="forgot-password">
            <a [routerLink]="['/forgotPassword']"
            i18n="@@button.text.forgotPassword">Forgot Password</a>
        </div>
    </form>
</div>
