<div class="reservation-details"
    [class.simple]="simple"
    [class.clear]="clear"
    [class.embedded]="embedded">

    <div class="role-line line">{{ desc }}</div>
    <div class="time-details-line line">
        <div class="date">{{ startDate | date:'fullDate' }}</div>
    </div>
    <div class="time-details-line line">
        <div class="time">{{ startTime }} - {{ endTime }}</div>
    </div>
    <div class="additional-details-line line">
        <div class="duration">{{ duration | i18nPlural: durationPluralMapping }}</div>
    </div>
</div>