<app-container>
    <div class="change-password-container stand-alone-box">
		<h2 class="change-password-form-title" i18n="@@changePassword.title">Change Password</h2>
		<ng-container *ngIf="!(passwordChanged && error === undefined); else changedMessage">
            <p i18n="@@changePassword.text">
				You are changing the password for 
				<br /><br />
				<span class="email">{{ email }}</span>
			</p>
			<form class="change-password-form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
				<mat-form-field [class.hidden]="resetCodeExists">
					<input matInput type="password" formControlName="oldPassword"
						placeholder="Old Password" i18n-placeholder="@@changePassword.form.oldPassword">
				</mat-form-field>
				<mat-form-field>
					<input matInput type="password" formControlName="newPassword"
						placeholder="New Password" i18n-placeholder="@@changePassword.form.newPassword" >
                    <mat-error i18n="@@error.validation.minLength">
						Password must contain at least 8 characters.
					</mat-error>  
                </mat-form-field>
				<button mat-raised-button color="primary" type="submit"
					[disabled]="!changePasswordForm.valid"
					i18n="@@button.text.changePassword">
					Change Password
				</button>
			</form>
		</ng-container>
		<ng-template #changedMessage>
			<app-emoji-text [thin]="true" i18n="@@changePassword.finished">
				<p>
					Your password has been updated, you will be logged out. <br />
					Please Login again.
				</p>
			</app-emoji-text>
		</ng-template>
		<ng-container *ngIf="error">
			<app-emoji-text [thin]="true">error</app-emoji-text>
		</ng-container>
	</div>
</app-container>
