<app-container>
    <div class="change-password-container stand-alone-box">
		<h2 class="change-password-form-title">Change your Password</h2>
		<ng-container *ngIf="!passwordChanged; else changedMessage">
            <p>You are changing the password for 
            <br /><br />
            <span class="email">{{ email }}</span></p>
			<form class="change-password-form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
				<mat-form-field [class.hidden]="resetCode">
					<input matInput type="password" placeholder="Old Password" formControlName="oldPassword">
				</mat-form-field>
				<mat-form-field>
                    <input matInput type="password" placeholder="New Password" formControlName="newPassword">
                    <mat-error>Password must contain at least 8 characters.</mat-error>  
                </mat-form-field>
				<button mat-raised-button color="primary" type="submit" [disabled]="!changePasswordForm.valid">Change Password</button>
			</form>
		</ng-container>
		<ng-template #changedMessage>
			<p>Your password has been updated, you will be logged out. Please login again.</p>
		</ng-template>
	</div>
</app-container>
