<h3 class="registration-form-title">Registration</h3>
<div>
    <form [formGroup]="createUserForm" (ngSubmit)="onCreateUser()">
        <mat-form-field>
            <input matInput type="text" placeholder="First Name" formControlName="firstName" required>
            <mat-hint>{{ formErrors.required }}</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Middle Name" formControlName="middleName">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Last Name" formControlName="lastName" required>
            <mat-hint>{{ formErrors.required }}</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email" required> 
            <mat-hint>{{ formErrors.pattern }}</mat-hint>
            <mat-error>{{ formErrors.pattern }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="tel" placeholder="Phone Number" formControlName="phoneNumber" maxlength=10 required>
            <mat-hint>{{ formErrors.number }}</mat-hint>
            <mat-error>{{ formErrors.number }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="Age" formControlName="age" required>
            <mat-error>{{ formErrors.age }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="Volunteer Experience (years)" formControlName="experience" required>
            <mat-error>{{ formErrors.experience }}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!createUserForm.valid">Create User</button>
    </form>
</div>