<app-container>
    <h2 i18n="@@mySchedule">My Schedule</h2>
    <div class="reservation-list stand-alone-wide-box">
        <mat-list #reservationList
            [class.hidden]="reservations && reservations.length === 0">
            <mat-list-item *ngFor="let reservation of reservations"
                class="reservation-list-item">
                <div class="reservation-list-item-inner-wrapper">
                    <app-reservation-details
                        [event]="reservation"
                        [embedded]="true"
                        [clear]="true">
                    </app-reservation-details>
                    <div class="button-bar">
                        <button mat-raised-button color="warn" type="button"
                            (click)="onCancel(reservation)"
                            i18n="@@cancel">
                            Cancel
                        </button>
                    </div>
                </div>
            </mat-list-item>
        </mat-list>
        <div *ngIf="reservations === undefined || reservations.length === 0"
            class="no-reservations-desc">
            <app-emoji-text
                i18n="@@noReservationText">
                You haven't signed up for anything yet!
            </app-emoji-text>
        </div>
    </div>
</app-container>
