@import "~src/colours";
@import "~src/screens";

$wrapper-padding: 1rem;

.button-bar {
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;

    padding-bottom: $wrapper-padding;
    text-align: right;
    display: block;
}

.reservation-list {
    display: flex;
    align-items: center;
}

.reservation-list mat-list {
    width: 100%;
}

.reservation-list-item {
    border-radius: 4px;
    display: inline-block !important;
    width: calc(50% - 1rem) !important;
    height: auto !important;
    background-color: $light-background;

    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    margin: 0.5rem;
}

.reservation-list-item-inner-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 8rem;
    padding: $wrapper-padding 0;
}

.mat-list-base {
    padding-top: 0 !important;
}

.hidden {
    display: none;
}

.no-reservations-desc {
    width: 100%;
}

@media only screen and (max-width: $max-mobile-width) {
    .reservation-list-item {
        width: 100% !important;
        margin: 0.5rem 0;
    }
}
