<app-container>
	<div class="landing-banner">
		<div class="landing-inner">
			<div class="landing-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
			<div class="login-form-wrapper">
				<app-login-form id="login"></app-login-form>
			</div>
		</div>
	</div>
	<div class="landing-page-intro">
		<h1> {{ title }} </h1>
		<div class="description">
			<p>
				<em>Toronto Christian Community Church</em> and <em>105 Gibson Centre</em> have 
				partnered with Mosaic Interfaith Out of the Cold to bring safety, refuge, warm hospitality 
				and emergency shelter in the York region to the homeless or those in need during 
				the coldest weeks of the winter season. We provide services ranging from warm meals 
				to overnight shelter to various social services.
			</p>
		</div>
	</div>
</app-container>