@import "~src/colours";

$bannerHeight: 425px;

:host {
    width: 100%;
}

.landing-banner {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;

    height: $bannerHeight;
    // linear gradient background
    background: linear-gradient(to right, 
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 33%,
        rgba(0, 0, 0, 0.5) 66%,
        rgba(0, 0, 0, 0) 100%);
    padding: 2rem;

    display: flex;
    justify-content: space-around;

    .landing-inner {
        display: flex;
        max-width: 1080px;
        min-width: 768px;
    }


    .landing-text {
        color: $light-text-colour;
        text-align: justify;
        line-height: 1.75em;
        padding-right: 3.25rem;
        flex-grow: 1;
        text-shadow: 
            0 0 6px #333,
            0 0 12px #333,
            0 0 18px #333,
            0 0 24px #333;

        .sub-text {
            font-size: 1em;
        }

        .banner-title {
            color: $light-text-colour;
            font-size: 3em;
            letter-spacing: 2px;
            line-height: 1;
            font-weight: 600;
            margin: 3rem 0;
        }
    }
}

.landing-banner::after {
    content: 'I am smiling at you... do you see me? https://youtu.be/xpck4IdClZg';
    color: $transparent;
    position: absolute;
    height: $bannerHeight;
    top: 0;
    left: 0;
    right: 0;
    background-color: $darkest-background;
    background-image: url('/assets/blackground.jpg');
    background-position: center;
    background-size: cover;
    opacity: 1;
    z-index: -1;
}

@media (min-width: 1250px) {
    .landing-banner::after {
        background-size: 1230px;
    }
}

.landing-page-intro {
    margin-top: $bannerHeight;
    line-height: 1.75em;

    .description {
        margin-bottom: 2rem;
    }

    .pad-right {
        width: 150px;
        display: inline-block;
    }

    .label-value {
        display: inline-block;
    }
}