@import "~src/colours";
@import "~src/screens";

$bannerHeight: 425px;
$mobileBannerHeight: calc(100vh - 4rem);

:host {
    width: 100%;
}

.landing-banner {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;

    height: $bannerHeight;
    // linear gradient background
    background: linear-gradient(to right, 
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 33%,
        rgba(0, 0, 0, 0.5) 66%,
        rgba(0, 0, 0, 0) 100%);
    padding: 2rem;

    display: flex;
    justify-content: space-around;

    .landing-inner {
        display: flex;
        min-width: $app-container-min-width;
        max-width: $app-container-max-width;
    }

    .landing-text {
        color: $light-text-colour;
        text-align: justify;
        line-height: 1.75em;
        padding-right: 3.25rem;
        flex-grow: 1;
        text-shadow: 
            0 0 6px #333,
            0 0 12px #333,
            0 0 18px #333,
            0 0 24px #333;

        .sub-text {
            font-size: 1em;
        }

        .banner-title {
            color: $light-text-colour;
            letter-spacing: 2px;
            line-height: 1;
            font-weight: 600;
            font-size: 3em;
            margin: 3rem 0;
        }
    }

    .mobile-menu {
        display: none;
    }
}

.landing-banner::after {
    content: 'I am smiling at you... do you see me? https://youtu.be/xpck4IdClZg';
    color: $transparent;
    position: absolute;
    height: $bannerHeight;
    top: 0;
    left: 0;
    right: 0;
    background-color: $darkest-background;
    background-image: url('/assets/blackground.jpg');
    background-position: center;
    background-size: cover;
    opacity: 1;
    z-index: -1;
}

.landing-page-intro {
    margin-top: $bannerHeight;
    line-height: 1.75em;

    .description {
        margin-bottom: 2rem;
    }

    .pad-right {
        width: 150px;
        display: inline-block;
    }

    .label-value {
        display: inline-block;
    }
}

.map-border {
    iframe {
        display:block;
        width:100%;
    }

    box-shadow: 0 3px 2px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

/* for mobile */
@media only screen and (max-width: $max-mobile-width) {
    .landing-banner {
        height: $mobileBannerHeight;
        max-height: -webkit-fill-available;;

        background: linear-gradient(to bottom, 
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.9) 66%,
            rgba(0, 0, 0, 0) 100%);

        .landing-inner {
            min-width: 0px;
            max-width: 100vw;
            flex-direction: column;
            position: relative;

            .landing-text {
                padding-right: 0;
                margin-bottom: 2rem;
                flex-grow: 0;

                .banner-title {
                    margin: 0;
                    font-size: 10vw;
                    margin-bottom: 1rem;
                    line-height: 15vw;
                    
                    .do-not-break {
                        display: inline-block;
                    }
                }

                .sub-text {
                    font-size: 4vw;
                    line-height: 8vw; 
                }
            }

            .login-form-wrapper {
                display: none;
            }

            .mobile-menu {
                display: flex;
                justify-content: space-between;

                button {
                    width: 35vw;
                }
            }

            .mobile-menu::after {
                content: "";
                width: 0px;
                height: 0px;
                border-left: 6vw solid transparent;
                border-right: 6vw solid transparent;
                border-top: 6vw solid $very-light-text-colour;
                position: absolute;
                bottom: 0;
                left: calc(44vw - 2rem);
            }
        }
    }

    .landing-banner::after {
        height: $mobileBannerHeight;
    }

    .landing-page-intro {
        margin-top: $mobileBannerHeight;
    }

    ul {
        padding-left: 0.5rem;

        li {
            list-style: none;
            margin-bottom: 0.5rem;
        }

        li:last-child {
            margin-bottom: 0;
        }
    }

    .label-value {
        padding-top: 0.25rem;
    }

    .year-overview,
    .opportunities {
        margin-bottom: 2rem;
    }

    .map-border {
        margin-top: 1rem;
        iframe {
            height: 70vh;
        }
    }
}

@media only screen and (min-width: $max-mobile-width) and (max-width: $min-wide-screen-width) {
    .landing-banner {
        .landing-inner {
            .landing-text {
                padding-right: 2rem;

                .banner-title {
                    font-size: 3.5vw;
                    margin: 4vw 0;
                }
            }
        }
    }
}

@media only screen and (min-width: $min-wide-screen-width) {
    .landing-banner::after {
        background-size: 1230px;
    }
}

@media only screen and (max-width: $iphone5-is-too-small-width) {
    .landing-banner {
        .landing-inner {
            .landing-text {
                .banner-title {
                    font-size: 9vw;
                    line-height: 12vw;
                }
            }
        }
    }
}
