$bannerHeight: 425px;

:host {
    width: 100%;
}

h1 {
    color: rgba(34,110,147,1);
    font-size: 3em;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.2;
}

.landing-banner {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;

    height: $bannerHeight;
    // linear gradient background
    background: linear-gradient(to right, 
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 33%,
        rgba(0, 0, 0, 0.5) 66%,
        rgba(0, 0, 0, 0) 100%);
    padding: 2rem;

    display: flex;
    justify-content: space-around;

    .landing-inner {
        display: flex;
        max-width: 1080px;
        min-width: 768px;
    }

    .landing-text {
        color: white;
        text-align: justify;
        line-height: 1.75em;
        padding-right: 3.25rem;
        flex-grow: 1;
        text-shadow: 
            0 0 6px #333,
            0 0 12px #333,
            0 0 18px #333,
            0 0 24px #333;

        .sub-text {
            font-size: 1em;
        }

        h2 {
            font-size: 3em;
            letter-spacing: 2px;
            line-height: 1;
        }
    }
}

.landing-banner::after {
    content: 'I am smiling at you... do you see me? https://youtu.be/xpck4IdClZg';
    color: rgba(0, 0, 0, 0);
    position: absolute;
    height: $bannerHeight;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    background-image: url('/assets/blackground.jpg');
    // background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    z-index: -1;
}

@media (min-width: 1250px) {
    .landing-banner::after {
        background-size: 1230px;
    }
}

.landing-page-intro {
    margin-top: $bannerHeight;

    .description {
        line-height: 1.75em;
    }

    .pad-right {
        width: 150px;
        display: inline-block;
    }

    .label-value {
        display: inline-block;
    }
}