<form [formGroup]="assignReservationForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput type="text"
        placeholder="Pick a user"
        formControlName="email"
        [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let user of filteredUsers | async" [value]="user.id">
        <span class="option-email">{{ user.email }}</span>
        <span class="option-name">{{ user.fname | titlecase }} {{ user.lname | titlecase }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-dialog-actions align="center">
      <button mat-raised-button color="warn" type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit"
        [disabled]="!registrationForm.valid" cdkFocusInitial>Sign 'em up!</button>
  </mat-dialog-actions>
</form>