<div *ngIf="department"
    class="reservation-sign-up-form">
    <div class="role-filter-container">
        <mat-form-field class="role-filter">
            <mat-label i18n="role filter|role filter@@roleFilter">
                Role Filter
            </mat-label>
            <mat-select #roleSelect
                value="All" (selectionChange)="onFilterChanged($event)">
                <mat-option #allRolesOption value="All"
                    i18n="all roles|all roles@@allRoles">
                    All
                </mat-option>
                <mat-option *ngFor="let role of roles" [value]="role">
                    {{ role }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-selection-list #timeSlots
        (selectionChange)="onSelectionChange($event)">
        <div class="day-box"
            *ngFor="let day of days">
            <ng-container *ngIf="groupedDisplayTimeSlots[day].length > 0">
                <h4>{{ day | date:'fullDate' }}</h4>
                <ng-container *ngFor="let timeSlot of groupedDisplayTimeSlots[day]">
                    <div class="reservation-sign-up-selection-item-wrapper">
                        <mat-list-option
                            appAvailabilityCheck
                            class="reservation-sign-up-selection-item"
                            color="primary"
                            [value]="timeSlot"
                            [blocked]="blocked[timeSlot.startDate]">
                            <app-reservation-sign-up-line 
                                [simple]="false"
                                [clear]="true"
                                [embedded]="true"
                                [event]="timeSlot"
                                [reserved]="reservedTimeSlotIds.indexOf(timeSlot.id) !== -1">
                            </app-reservation-sign-up-line>
                        </mat-list-option>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </mat-selection-list>
    <div class="button-bar">
        <button mat-raised-button color="accent" type="button"
            (click)="clearSelected()"
            i18n="clear|clear@@clear">
            Clear
        </button>
        <button mat-raised-button color="primary" type="button" (click)="reserveSelected()"
            [disabled]="timeSlots.selectedOptions.selected.length === 0"
            i18n="sign up|sign up@@signUp">
            Sign Up
        </button>
    </div>
</div>