@import "~src/colours";

.button-bar {
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    button {
        margin: 0 1rem;
        min-width: 10rem;
    }
}

.reservation-sign-up-selection-item {
    border-radius: 4px;
    display: inline-block !important;
    width: calc(50% - 1rem) !important;
    height: auto !important;
    background-color: $light-background;

    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    margin: 0.5rem;
}

.disabled {
    opacity: 0.5;
}