@import "~src/colours";
@import "~src/screens";

.button-bar {
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    button {
        margin: 0 1rem;
        min-width: 10rem;
    }
}

.reservation-sign-up-selection-item-wrapper {
    border-radius: 4px;
}

.reservation-sign-up-selection-item {
    background-color: $lightest-background;

    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.disabled {
    background-color: $light-background;
}

// fight angular T_T
 ::ng-deep .disabled.mat-list-option:first-child .mat-pseudo-checkbox {
    opacity: 0;
 }

.role-filter {
    width: 100%;
}

.role-filter-container {
    text-align: right;
}

@media only screen and (max-width: $max-mobile-width) {
    .reservation-sign-up-selection-item-wrapper {
        border-radius: 4px;
        margin: 0.5rem;
    }
    
    .reservation-sign-up-selection-item {
        background-color: $light-background;
        height: auto !important;
    
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    }

    .button-bar {
        margin: auto;
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;

        button {
            margin: 0;
            min-width: 35vw;
        }
    }
}
