<div *ngIf="department"
    class="reservation-sign-up-form">
    <div class="role-filter-container">
        <mat-form-field class="role-filter">
            <mat-label>Role Filter</mat-label>
            <mat-select value="All" (selectionChange)="onFilterChanged($event)">
                <mat-option value="All">All</mat-option>
                <mat-option *ngFor="let role of roles" [value]="role">
                    {{ role }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-selection-list #timeSlots
        (selectionChange)="onSelectionChange($event)">
        <mat-list-option *ngFor="let timeSlot of available"
            appAvailabilityCheck
            class="reservation-sign-up-selection-item"
            color="primary"
            [value]="timeSlot"
            [blocked]="blocked[timeSlot.startDate]">
            <app-reservation-sign-up-line 
                [simple]="false"
                [clear]="true"
                [embedded]="true"
                [event]="timeSlot">
            </app-reservation-sign-up-line>
        </mat-list-option>
    </mat-selection-list>
    <div class="button-bar">
        <button mat-raised-button color="accent" type="button" (click)="clearSelected()">Clear</button>
        <button mat-raised-button color="primary" type="button" (click)="reserveSelected()"
            [disabled]="timeSlots.selectedOptions.selected.length === 0">Reserve</button>
    </div>
</div>