<app-container>
    <div class="forgot-password-container stand-alone-box">
		<h2 class="reset-password-form-title">Reset your Password</h2>
		<ng-container *ngIf="!resetSent; else resetPasswordSent">
			<p>Enter your email and we will send you a link to reset your password.</p>
			<form class="reset-password-form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
				<mat-form-field>
					<input matInput type="email" placeholder="Email" formControlName="email">
				</mat-form-field>
				<button mat-raised-button color="primary" type="submit" [disabled]="!resetPasswordForm.valid">Send password reset email</button>
			</form>
		</ng-container>
		<ng-template #resetPasswordSent>
			<app-emoji-text [thin]="true"
				text="If the entered email is valid, you will recieve a password reset link shortly."></app-emoji-text>
		</ng-template>
	</div>
</app-container>
