@import "~src/colours";

.reservation-sign-up-line {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;

    background-color: $primary;
    color: $light-text-colour;

    // copy the shadow from mat card
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

    &.clear {
        background: none;
        color: $normal-text-colour;
        box-shadow: none;
    }

    .time {
        width: 10rem;
    }

    .role-line {
        flex-grow: 1;
    }

    .duration {
        width: 10rem;
        text-align: right;
    }

    .spots {
        width: 10rem;
        text-align: right;
        font-weight: 400;
    }

    .last-few {
        color: $warn;
    }

    .reserved {
        color: $primary;
        font-weight: 700;
    }
}