<div class="reservation-sign-up-line"
    [class.clear]="clear"
    [class.embedded]="embedded">

    <div class="role-line line">{{ desc }}</div>
    <div class="time-details-line line">
        <div class="date">{{ startDate | date:'fullDate' }}</div>
        <div class="time">{{ startTime }} - {{ endTime }}</div>
    </div>
    <div class="additional-details-line line">
        <div class="duration">{{ duration | i18nPlural: durationPluralMapping }}</div>
        <div class="spots"
            [class.last-few]="spotsLeft < 4">{{ spotsLeft }}/{{ totalSpots }} {{ spotsLeft | i18nPlural: spotsPluralMapping }}</div>
    </div>
</div>