<div class="reservation-sign-up-line"
    [class.clear]="clear"
    [class.embedded]="embedded">

    <div class="time">{{ startTime }} - {{ endTime }}</div>
    <div class="role-line">{{ desc }}</div>
    <div class="duration">{{ duration | i18nPlural: durationPluralMapping }}</div>
    <div *ngIf="!reserved; else reservedMsg"
        class="spots" 
        [class.last-few]="spotsLeft < 4">
        {{ spotsLeft | i18nPlural: spotsPluralMapping }}
    </div>
    <ng-template #reservedMsg>
        <div class="reserved spots"
            i18n="@@alreadySignedUp">
            Signed Up
        </div>
    </ng-template>
</div>