<div class="registration-form">
    <h2 class="registration-form-title">Registration</h2>
    <div>
        <form class="" [formGroup]="registrationForm" (ngSubmit)="onRegister()">
            <mat-form-field>
                <input matInput type="text" placeholder="First Name" formControlName="firstName" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="Middle Name" formControlName="middleName">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="Last Name" formControlName="lastName" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="email" placeholder="Email" formControlName="email" required> 
                <mat-hint>
                    {{ formErrors.pattern }}
                </mat-hint>
                <mat-error>
                    {{ formErrors.pattern }}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName = "password" required>
                    <mat-error> 
                        {{ formErrors.minLength }}
                    </mat-error>  
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Verify Password" formControlName = 'verifypassword' [ngClass] = "{ 'is-invalid': submitted && f.verifypassword.errors }" required>
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" placeholder="Phone Number" formControlName="phoneNumber" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" placeholder="Age" formControlName="age" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" placeholder="Experience" formControlName="experience" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" placeholder="Comments" formControlName="comments">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled] = "!registrationForm.valid">Register</button>
        </form>
    </div>
    <ng-template [ngIf] = "confirmed" [ngIfElse] = "notconfirmed">
        <p>
            Thank you for registering
        </p>
    </ng-template>
    <ng-template #notconfirmed>
        <p>
            Please Try again
        </p>
    </ng-template>
</div>