.registration-form {
    width: 500px;
    margin: auto;
    background-color: #f5f5f5;
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 1px 1px 4px #ccc;

    .mat-form-field,
    button {
        width: 100%;
    }
}
