<div class="department-spotlight">
    <mat-button-toggle-group class="toggle-menu" (change)="selectDept($event)">
        <mat-button-toggle *ngFor="let dept of departments"
            class="toggle-button"
            [value]="dept.id">
            {{ dept.name }}
        </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-form-field class="dropdown-menu">
        <mat-label i18n="departments|departments@@departments">
            Departments
        </mat-label>
        <mat-select (selectionChange)="selectDept($event)">
            <mat-option *ngFor="let dept of departments" [value]="dept.id">
                {{ dept.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <ng-container *ngIf="selectedIndex !== -1; else pickSomething">
        <div [innerHTML]="departments[selectedIndex].description | markdown"></div>
    </ng-container>
    <ng-template #pickSomething>
        <div class="no-selection-desc">
            <app-emoji-text
                i18n="pick dept text|pick dept text@@pickDeptText">
                What would you like to help with?
            </app-emoji-text>
        </div>
    </ng-template>
</div>
