@import "~src/colours";
@import "~src/screens";

.department-spotlight {
    margin-bottom: 1rem;
}

.mat-button-toggle-checked {
    color: $light-text-colour;
    background-color: $primary;
}

.toggle-menu {
    width: 100%;
    display: flex;
}

.toggle-button {
    flex: 1 1 100%;
}

.dropdown-menu {
    display: none;
}

.no-selection-desc {
    margin-top: 1.5rem;
}

@media only screen and (max-width: $max-mobile-width) {
    .toggle-menu {
        display: none;
    }

    .dropdown-menu {
        display: block;
    }
}