@import "~src/colours";

:host {
    width: 100%;
}

.emoji-text-container {
    display: flex;
    flex-direction: column;
}

.emoji {
    text-align: right;
    margin-top: 1rem;
}

.message {
    padding-left: 1rem;
    font-size: 2rem;
    color: $normal-text-colour;
}

.thin {
    display: flex;

    .message {
        padding-left: 0;
        font-size: 1rem;
    }

    .emoji {
        text-align: right;
        margin-top: 2rem;
    }

    .emoji {
        text-align: center;
    }
}
