@import "~src/colours";
@import "~src/screens";

:host {
    width: 100%;
}

.emoji-text-container {
    display: flex;
    flex-direction: column;
}

.emoji {
    text-align: right;
    margin-top: 1rem;
}

.message {
    padding-left: 1rem;
    font-size: 2rem;
    color: $normal-text-colour;
}

.thin {
    display: flex;

    .message {
        padding-left: 0;
        font-size: 1rem;
    }

    .emoji {
        margin-top: 2rem;
        text-align: center;
    }
}

.face-first {
    .emoji {
        margin-top: 0;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: $max-mobile-width) {
    .message {
        padding-left: 0;
        font-size: 1.25rem;
    }
}