@import "~src/colours";

.emoji-text-container {
    display: flex;
    flex-direction: column;
}

.emoji {
    font-family: 'Roboto Mono', monospace;
    font-size: 10rem;
    text-align: right;
    color: $semi-light-text-colour;

    margin-top: 1rem;

    &.long {
        font-size: 7rem;
    }
}

.message {
    font-size: 3rem;
    color: $normal-text-colour;

    line-height: 21px;
    margin-top: 60px;
}