<p>home works!</p>
<!-- <div *ngIf="(everyone$ | async) as everyone">
	<div>everyone</div>
	<div *ngFor="let p of everyone">
		{{ p.name }}
	</div>
</div> -->

<!-- <div *ngIf="(admins$ | async) as admins">
	<div>admins</div>
	<div *ngFor="let p of admins">
		{{ p.name }}
	</div>
</div>
<div *ngIf="(users$ | async) as users">
	<div>users</div>
	<div *ngFor="let p of users">
		{{ p.name }}
	</div>
</div>
 -->
<div *ngIf="(tens$ | async) as admins">
	<div>10</div>
	<div *ngFor="let p of admins">
		{{ p.name }}
	</div>
</div>
<div *ngIf="(elevens$ | async) as users">
	<div>11</div>
	<div *ngFor="let p of users">
		{{ p.name }}
	</div>
</div>
<div *ngIf="(twelves$ | async) as users">
	<div>12</div>
	<div *ngFor="let p of users">
		{{ p.name }}
	</div>
</div>
