.header {
    height: 4rem;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #1976d2;
    
    .title {
        color: #ffffff;
    }

    .navigation {
        display: flex;
        align-items: center;
        font-size: 1rem;

        .nav-item {
            padding-left: 1rem;
            a {
                font-weight: 400;
                color: #ffffff;
            }

            &.highlight a,
            a:hover {
                color: #aaaaaa;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .logout-box {
            margin-left: 1.5rem;
            color: white;
 
            .welcome-message::before {
                content: '';
                margin-right: 1rem;
            }

            .welcome-message {
                font-weight: bold;
            }

            button {
                margin-left: 1rem;
            }
        }
    }
}

.header.big {
    height: 10rem;

    /* style the rest of the big header */
}