@import "~src/colours";
@import "~src/screens";

.header {
    height: 4rem;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: $primary;

    .right-side {
        display: flex;
        align-items: center;
    }
    
    .logged-in-indicator {
        font-size: 0.8rem;
        color: $very-light-text-colour;
        padding-right: 1rem;

        .username {
            font-size: 1rem;
            font-weight: 600;
            color: $light-text-colour;
        }
    }

    .title {
        color: $light-text-colour;
    }

    .navigation {
        display: flex;
        align-items: center;
        font-size: 1rem;

        .nav-item {
            padding-left: 1rem;
            a {
                font-weight: 400;
                color: $light-text-colour;
            }

            &.highlight a,
            a:hover {
                color: $very-light-text-colour;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .logout-box {
            margin-left: 1.5rem;
            color: $light-text-colour;
 
            .welcome-message::before {
                content: '';
                margin-right: 1rem;
            }

            .welcome-message {
                font-weight: bold;
            }

            button {
                margin-left: 1rem;
            }
        }
    }

    .logo {
        display: flex;
        align-items: baseline;

        .sub-title {
            color: $very-light-text-colour;
            font-size: 1.25em;
        }
    }
}

.hidden {
    display: none;
}

// @media only screen and (max-width: $max-mobile-width) {
.header {
    .mobile-nav {
        display: block;
    }

    .mobile-nav-hamburger {
        color: $light-text-colour;
    }

    .navigation {
        display: none;
    }
}
// }

@media only screen and (max-width: $max-mobile-width) {
    .logged-in-indicator {
        display: none;
    }
}