<div class="header">
    <a [routerLink]="['/']">
        <div class="logo">
            <h1 class="title">OOTC</h1>
            <span class="sub-title">&nbsp;@ TCCC</span>
        </div>
    </a>
    <!--
    <div class="navigation">
        <ng-container *ngFor="let securityLevel of securityLevels">
            <ng-container *ngIf="securityClearance >= securityLevel">
                <div *ngFor="let link of navLinks[securityLevel]"
                    class="nav-item"
                    [class.hidden]="link.class.hidden"
                    [class.highlight]="link.text === highlight">
                    <a [routerLink]="[link.url]">
                        {{ link.text | uppercase }}
                    </a>
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="securityClearance > 0">
            <div class="logout-box">
                <span class="welcome-message">Hi {{ name }}</span>
                <button mat-raised-button color="accent" type="button" (click)="logout()">Log out</button>
            </div>
        </ng-container>
    </div>
    -->
    <div class="right-side">
        <div *ngIf="securityClearance > 0 && name !== undefined" class="logged-in-indicator">
            <span i18n="@@header.signedInAs">
                Signed in as &nbsp;
            </span>
            <span class="username">{{ name }}</span>
        </div>
        <div class="mobile-nav">
            <button mat-icon-button class="mobile-nav-hamburger" [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <ng-container *ngFor="let securityLevel of securityLevels">
                    <ng-container *ngIf="securityClearance >= securityLevel">
                        <button *ngFor="let link of navLinks[securityLevel]" mat-menu-item [routerLink]="[link.url]"
                            [class.hidden]="link.class.hidden">
                            <mat-icon>{{ link.icon }}</mat-icon>
                            <span>{{ link.text | uppercase }}</span>
                        </button>
                    </ng-container>
                </ng-container>
                <app-language-selector></app-language-selector>
                <button *ngIf="securityClearance > 0" mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span i18n="@@menu.logout">LOG OUT</span>
                </button>
            </mat-menu>
        </div>
    </div>
</div>