.header {
    height: 4rem;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #1976d2;

    .title {
        color: #ffffff;
    }

    .navigation {
        display: flex;
        align-items: flex-end;
        font-size: 1rem;

        .nav-item {
            padding-left: 0.75rem;
            a {
                font-weight: 400;
                color: #ffffff;
            }

            &.highlight a,
            a:hover {
                color: #cccccc;
            }
        }

    }
}

.header.big {
    height: 10rem;

    /* style the rest of the big header */
}