<div class="header">
    <div class="logo">
        <h1 class="title">OOTC</h1>
    </div>
    <div class="navigation">
        <ng-container *ngFor="let securityLevel of securityLevels">
            <ng-container *ngIf="securityClearance >= securityLevel">
                <div *ngFor="let link of navLinks[securityLevel]"
                    ngClass="nav-item {{ link.text === highlight ? 'highlight' : ''}}">
                    <a [routerLink]="[link.url]">
                        {{ link.text }}
                    </a>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>