<app-container>
   <ng-container *ngIf="reservations && reservations.length > 0; else noUpcomingReservations">
        <app-upcoming-reservation-list [reservations]="reservations">
        </app-upcoming-reservation-list>
    </ng-container>
    <h2>Volunteer Sign Up</h2>
    <div [class.sign-up-box-wrapper]="selectedDepartment">
        <div class="sign-up-box stand-alone-wide-box">
            <app-department-spotlight
                [departments]="departments"
                (deptSelected)="onDeptSelected($event)">
            </app-department-spotlight>
            <app-reservation-sign-up-form
                [department]="selectedDepartment">
            </app-reservation-sign-up-form>
        </div>
    </div>
</app-container>