@import "~src/screens";

.app-container {
    margin: auto;
    box-sizing: content-box;
    padding: 2rem;
    padding-bottom: 4rem;
    min-width: $app-container-min-width;
    max-width: $app-container-max-width;
}

/* for mobile */
@media only screen and (max-width: $max-mobile-width) {
    .app-container {
        min-width: 0px;
        max-width: 100vw;
        padding: 1.5rem;
        padding-bottom: 4rem;
    }

    // .app-header-bar {
    //     display: none;
    // }
}