@import '~@angular/material/theming';

$app-primary: mat-palette($mat-deep-purple);
$app-secondary: mat-palette($mat-purple);
$app-accent: mat-palette($mat-amber);
$app-warn: mat-palette($mat-red);

$primary: mat-color($app-primary);
$secondary: mat-color($app-secondary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

// opacity
$primary-light: mat-color($app-primary, 100);

$light-text-colour: #ffffff;
$very-light-text-colour: #aaaaaa;
$semi-light-text-colour: #999999;
$normal-text-colour: #616161;
$dark-text-colour: #333333;

$body-background: #F2F2F2;
$lightest-background: #ffffff;
$light-background: #f5f5f5;
$dark-background: #666666;
$darkest-background: #000000;
$dark-semi-transparent-background: rgba(0, 0, 0, 0.8);

/* misc colours */
$transparent: rgba(0,0,0,0);
$heart-red: rgba(255, 0, 0, 0.75);
