@import "~src/screens";

// general dialog styles

mat-form-field {
    display: block;
    width: 100%;
}

mat-dialog-actions {
    margin-bottom: 0;
    margin-top: 1rem;

    button {
        margin: 0 1rem;
        min-width: 10rem;
    }
}

@media only screen and (max-width: $max-mobile-width) {
    mat-dialog-actions {
        display: flex;
        flex-direction: column;

        button {
            margin-left: 0 !important;
            margin-bottom: 0.5rem;
            width: 100%;
        }

        button:last-child {
            margin-bottom: 0;
        }
    }
}