$app-container-min-width: 600px;
$app-container-max-width: 1080px;

$app-min-screen-width: 320px;

$iphone5-is-too-small-width: 375px;
$max-mobile-width: 600px;
$max-half-screen-width: 720px;
$min-wide-screen-width: 1250px;
$insanely-screen-width: 2160px;

$max-tiny-height: 585px;
$max-tiny-width: 340px;