/* You can add global styles to this file, and also import other style files */

// Sample default style
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Global Styles */

* {
  // font-family: 'Roboto', Arial, sans-serif;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  color: #616161;
  background-image: url('/assets/to_bg_long_10.png');
  background-repeat: no-repeat;
  background-position: right 0px bottom 0px;
  background-attachment: fixed;
  background-size: 2160px auto;

  /* stick the footer at the bottom */
  min-height: 100vh;
  position: relative
}

@media only screen and (min-width: 2160px) {
  body {
    background-size: 100% auto;
  }
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

button:focus {
  outline: none;
}