/* You can add global styles to this file, and also import other style files */

// Sample default style
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "~src/colours";

/* Global Styles */

* {
  // font-family: 'Roboto', Arial, sans-serif;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  color: $normal-text-colour;
  background-image: url('/assets/to_skyline_lite2.svg');
  background-repeat: no-repeat;
  background-position: right 0px bottom 0px;
  background-attachment: fixed;
  background-size: 2160px auto;

  /* stick the footer at the bottom */
  min-height: 100vh;
  position: relative
}

@media only screen and (min-width: 2160px) {
  body {
    background-size: 100% auto;
  }
}

a {
  text-decoration: none;
}

button:focus {
  outline: none;
}

.stand-alone-wide-box,
.stand-alone-box {
  width: 500px;
  min-height: 300px;
  margin: auto;
  background-color: $light-background;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 1px 1px 4px #ccc;
}

.stand-alone-wide-box {
  width: auto;
}

/* major text styles */

h1 {
  margin: 0;
  font-size: 3em;
  font-weight: 300;
}

h2 {
  margin: 1.5rem 0;
  color: $primary;
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.2;

}

h3 {
  margin: 1rem 0;
  color: $primary;
  font-size: 1.75em;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0.5em 0;
}
