/* You can add global styles to this file, and also import other style files */

// Sample default style
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Global Styles */

* {
  // font-family: 'Roboto', Arial, sans-serif;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  color: #616161;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

button:focus {
  outline: none;
}