<h1>{{title}}</h1>
<div>
    <mat-form-field>
            <input matInput type="name" placeholder="name">
    </mat-form-field>
    <br> 
    <mat-form-field>
            <input matInput type="Middle name" placeholder="Middle name">
    </mat-form-field>
    <br> 
    <mat-form-field>
            <input matInput type="last name" placeholder="last name">
    </mat-form-field>
    <br> 
    <mat-form-field>
            <input matInput type="email" placeholder="Email">
    </mat-form-field>
    <br> 
    <mat-form-field>
            <input matInput type="phone number" placeholder="Phone Number">
    </mat-form-field>
    <br> 
    <mat-form-field>
            <input matInput type="Age" placeholder="Age">
    </mat-form-field>
    <br> 
    <mat-form-field>
            <input matInput type="Experience" placeholder="Experience">
    </mat-form-field>
    <br> 
    <mat-form-field>
            <input matInput type="Comments" placeholder="Comments">
    </mat-form-field>
    <br> 
    <button mat-raised-button>Create</button>
</div>
