mat-dialog-actions {
    margin-bottom: 0;
    margin-top: 1rem;

    button {
        margin: 0 1rem;
        min-width: 10rem;
    }
}

.create-user-form {
    .mat-form-field,
    button {
        width: 100%;
    }
}

$wrapper-padding: 1rem;

.button-bar {
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;

    padding-bottom: $wrapper-padding;
    text-align: right;
    display: block;
}